*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Roboto", sans-serif;

}

body{
background-image: url(./image/mountains-gelo.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
padding: 5px;


}

main{
    width: 100%;
    max-width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

form{
    margin-top: 30px;
      background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

 input{
    width: 85%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: transparent;
 }


 button{
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
 }

.container-info{
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 150px;
    padding: 10px;
    
}

.cidade{
    font-size: 1.3rem;
    font-weight: 600;
}

.temp-div{
    display: flex;
    margin: 10px 0;
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 60px;
}

.temp{
    font-size: 3rem;
}

.situacao-tempo{
    width: 100%;
}

.umidade-max-min{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: auto auto;
    width: 100%;
    height: 140px;
    padding: 10px 2px;
    border-radius: 5px;
   justify-content: space-between;
   row-gap: 30px;
}

.umidade-max-min i{
    font-size: 1.4rem;
}

.temp-max, .temp-min, .vel-vento, .umidade-ar{
    width: 150px;
    height: 50px;
    background: #ffffff5b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px;
  
}

.temp-max{
    grid-column: 1 / 2;
}

.temp-max i{
    color: #e43b08;
}

.temp-min{
    grid-column: 2 / 3;
}

.temp-min i{
    color: #0893e4;
}

.vel-vento{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.vel-vento i{
    color: #0893e4;
}

.umidade-ar{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.umidade-ar i{
    color: #0893e4;
}

