* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(./image/img-fundo-inicial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 5px;
}

h1 {
    color: #292929;
    margin-top: 10px;
}

main {
    width: 100%;
    max-width: 330px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.mensagem-form {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
}

.mensagem {
    text-align: center;
    font-size: 1.1em;
    color: #161616;
}

form {
    margin-top: 30px;
    box-shadow: 1px 2px 4px;
    width: 95%;
    margin: 30px auto;
    height: 45px;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e8f0fe;
}

/* ícone de localização */
form i {
    font-size: 1.3em;
}

input {
    width: 80%;
    height: 100%;
    padding: 5px;
    font-size: 1em;
    outline: none;
    border: none;
    background: transparent;
}


button {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background: #d8d8d8;
}

.container-info {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px 10px;
    display: none;
}

/* coloca as primeiras letras maiusculas */
.container-info p{
 text-transform: capitalize;
}

.cidade {
    font-size: 1.3rem;
    font-weight: 600;
}

.temp-div {
    display: flex;
    margin: 10px 0;
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 60px;
}

.temp {
    font-size: 2.5rem;
    font-weight: 600;
}

.situacao-tempo {
    width: 100%;
    font-weight: 600;
}

/* ******************************Usando display Grid*************************************** */
.umidade-max-min {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: auto auto;
    width: 100%;
    height: 140px;
    border-radius: 5px;
    justify-content: space-between;
    align-content: center;
    gap: 10px;


}

.umidade-max-min i {
    font-size: 1.4rem;
}

.temp-max,
.temp-min,
.vel-vento,
.umidade-ar {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    height: 50px;
    background: #ffffff5b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px;
}

.temp-max {
    grid-column: 1 / 2;
}

.temp-max i {
    color: #e43b08;
}

.temp-min {
    grid-column: 2 / 3;
}

.temp-min i {
    color: #0893e4;
}

.vel-vento {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.vel-vento i {
    color: #0893e4;
}

.umidade-ar {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.umidade-ar i {
    color: #0893e4;
}
